<!--NavBar -->
<!--Change Navbar to side bar -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Assignment 3 CRUD Operation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
        <% if (title == "Home") { %>
          <a class="nav-link active" href="/home">
        <% } else { %>
          <a class="nav-link" href="/home">
        <% } %>
          <i class="fa-solid fa-house"></i> Home</a>
        </li>

        <li class="nav-item">
        <% if (title == "About") { %>
          <a class="nav-link active" href="/about">
        <% } else { %>
          <a class="nav-link" href="/about">
        <% } %>
          <i class="fa-solid fa-circle-question"></i>
           About</a>
        </li>        

        <li class="nav-item">
        <% if (title == "Workout Routine") { %>
          <a class="nav-link active" href="/WorkoutList">
        <% } else { %>
          <a class="nav-link" href="/WorkoutList">
        <% } %>
          <i class="fa-solid fa-dumbbell"></i> Workout </a> <!--Image for nav-->
        </li>


        </li>

    </div>
  </div>
</nav>